/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~INDEX~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* body */
#quiz{

}

/* main initial divs */
#question-top{

}

#question-text{
  text-align: center;
  border: 1px solid black;
}

#answer-input{
  border: 1px solid black;
  background: lightgrey;

}

#choices{
  
}

#choice1{
border: 1px solid black;
}

#choice2{
  border: 1px solid black;
}

#choice3{
  border: 1px solid black;
}

