/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~FLASH CARD SELECTION~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* body */
#fc-selection{

}

/* contains all movable divs */
#movable-divs{

}

#HTML-text{
  border: 1px solid black;
}

#CSS-text{
  border: 1px solid black;
}

#JS-text{
  border: 1px solid black;
}

/* bottom div user can drag things into */
#final-topics{
  text-align: center;
  border: 1px solid black;
  background-color: grey;
}

button.continue{

}