/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~FLASH CARD SELECTION~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* body */
#fc-selection {
  background: url(../images/programming-code-abstract-technology-background-software-1024x756.jpg);
  font-family: 'Libre Baskerville', serif;
  background-repeat: no-repeat;
  background-size: cover;
}


/* contains all movable divs */
#movable-divs {}

#html,
#JS {
  width: 120px;
  height: 110px;
  margin-top: 15px;
}

#css {
  width: 130px;
  height: 130px;
 }

#HTML-text {
  
}

#CSS-text {
 
}

#JS-text {
  
}

#mainlogo{
box-shadow: 10px 10px 5px rgb(22, 22, 22);

}
button{
  box-shadow: 10px 10px 5px rgb(22, 22, 22);

}

#launchPad {
  min-height: 150px;
  color: #fff;
}

.logoCard {
  cursor: pointer;
  display: inline-block;
  margin-right: 0;
  margin-left: 0;
  color: #fff;
  
}

/* bottom div user can drag things into */
.final-topics-row {
  
}
#final-topics{
  color: rgba(250, 240, 230, 0.5);
  text-align: center;
  border: 8px double rgba(78, 185, 217, 0.85);
  background-color: rgba(8, 52, 95, 0.85);
  margin-left: 25%;
  margin-right: 25%;
  height: 240px;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.5)));

}

.holder{
  
}

/* This class will be added dynamically when any topic is dragged */
.ui-draggable-dragging {
  width: 80px;
  height: 80px;
  margin: 10px;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}