/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~INDEX~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* body */

#main-page{ 
background: url(../images/opacity.jpg);

  
  
}



/* main initial divs */
#main-top{

}

#main-text{
  text-align: center;
  padding-top: 100px;
  font-family: 'Libre Baskerville', serif;
  color: white
}

#ptext{
  font-size: 100px;
  

}

h3.main-text{
  
}

button.start{

}

/* bottom div with games */
#main-bottom{
  text-align: center;
  margin-bottom: 500px 
}

#flashCardPick{
  
}

#dragDropPick{
  
}

/* test div */
.test{
  margin: 5%;
  border: 1px solid black;
}
#startBtn{

  align-self: center;
  margin-bottom: 500px;
  background-color: rgb(46, 19, 141);
  border: 1px solid white;
  color: white;
  
 
}
#ddBtn{
  height: 50px;
  width: 90%;
  font-family: 'Libre Baskerville', serif;
  background-color: rgb(46, 19, 141);
  border: 1px solid white;
  color: white;
}
#fcBtn{
  height: 50px;
  width: 90%;
  font-family: 'Libre Baskerville', serif;
  background-color: rgb(46, 19, 141);
  border: 1px solid white;
  color: white;
}

#flashCardText{
  font-family: 'Libre Baskerville', serif;
  margin-top: 25px;
  color: white;
}
#dragDropText{
  font-family: 'Libre Baskerville', serif;
  margin-top: 25px;
  color: white;
  

}