/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~INDEX~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* body */
#index{ 
  background-image: url(../images/main.jpg);

}

#main-text{
  text-align: center;
}


/* bottom div with games */
#main-bottom{
  text-align: center;
}

#flashCardPick{
  border: 1px solid black;
}

#dragDropPick{
  border: 1px solid black;
}


